@import './root.scss';



.avatar-container {
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 50px;
}

.avatar-container img {
    width: 100%;
    display: block;
    border-radius: 50%;
}