@import './root.scss';


.input-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $normal-size;
    margin-top: 50px;
}

.input-container input{
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    background-color: $input-background;
    color: white;
    font-family: $general-font;
    font-size: $normal-size;
    outline: none;
    transition-duration: 150ms;
}

.input-container input:focus{
    border-color: $text-color;
}
.input-container input:hover{
    border-color: $text-color;
}