/* Text */
$general-font: monospace;
$title-size : 1.1em;
$title-size-reduced : 0.95em;
$normal-size: 26px;
$small-size: 22px;
$wheight-title: 400, Regular;
$text-color: #BABABA;
$title-color: #dadada;

/* Backgrounds */
$body-background: #0D1117;
$input-background: #30363D;
$down-arrow-background: rgba(186, 186, 186, 0.8);


