@import './root.scss';

.user-info-container{
    width: 80%;
    min-width: 400px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}